<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Status</div>
      <div class="item item-body ">
        <div>
          The device status will go here
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          the device health will go here
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Battery</div>
      <div class="item item-body">
        <div>
          The battery info will go here
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
